<article class="flex flex-col sm:flex-col md:flex-row lg:flex-row gap-5 w-full">
    <section class="flex flex-col gap-2 w-full md:w-2/12">
        <mat-card class="mat-elevation-z0">
            <mat-card-content>
                <h1 class="text-center text-primary-500">Filtrar informacion del postulante</h1>
                <hr>
                <app-postulant-filters></app-postulant-filters>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="flex flex-col w-full sm:w-full  md:w-10/12">
        <mat-paginator [length]="count"
                       [pageIndex]="0"
                       [pageSize]="20"
                       [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
        </mat-paginator>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Estado</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                            [matTooltip]="element?.status | statusPostulants">
                        <mat-icon svgIcon="heroicons_outline:information-circle" [ngClass]="{
                                'text-green-400': element.status === 1,
                                'text-yellow-400': element.status === 2,
                                'text-red-400': element.status === 3,
                                'text-orange-400': element.status === 4,
                                'text-blue-300': element.status === 5,
                                'text-gray-500': element.status === 6,
                                'text-blue-600': element.status === 7,
                                'text-purple-400': element.status === 8,
                                'text-blue-800': element.status === 9
                            }"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="informacion">
                <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Informacion del postulante
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex flex-col">
                        <div class="font-extrabold text-primary-700">
                            {{(element?.name || '') + ' ' + (element?.secondName || '') + ' ' + (element?.lastName || '') + ' ' + (element?.surName || '')}}
                        </div>
                        <div class="font-extralight">
                            {{(element?.department?.name || '') + ' - ' + (element?.province?.name || '') + ' - ' + (element?.district?.name || '')}}
                        </div>
                        <div class="font-light">
                            {{element?.email || '-'}}
                        </div>
                        <div class="font-bold text-primary-500">
                            {{(element?.professionDescription || '') + ' - ' + (element?.profesionCompany || '')}}
                        </div>
                        <div class="font-bold text-primary-500">
                            {{(element?.workDescription || '') + ' - ' + (element?.workCompany || '')}}
                        </div>
                        <div class="font-light">
                            {{(element?.workStart || '') + ' - ' + (element?.workEnd || '')}}
                        </div>
                        <div class="font-extralight">
                            {{(element?.workExitDescription || '-')}}
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="responsable">
                <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Responsable</th>
                <td mat-cell *matCellDef="let element">
                    <div class="font-extrabold">
                        {{element?.assigned?.name || '-'}}
                    </div>
                    <div class="font-light">
                        {{element?.assigned?.email || '-'}}
                    </div>
                    <div class="font-extralight">
                        {{element?.assigned?.cellphone || '-'}}
                    </div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"></th>
                <td mat-cell *matCellDef="let element">
                    <div class="relative w-24 h-24">
                        <img
                                class="w-full h-full rounded-full"
                                *ngIf="element.imageFile"
                                [src]="element.imageFile"
                                alt="User avatar">
                        <mat-icon
                                class="icon-size-24"
                                *ngIf="!element.imageFile"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                            [matMenuTriggerFor]="offerActions"
                            color="primary">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu
                            [xPosition]="'before'"
                            #offerActions="matMenu">
                        <button mat-menu-item (click)="printPdf(element)">
                            Imprimir cv
                        </button>
                        <button mat-menu-item (click)="downloadPdf(element)">
                            Exportar cv como pdf
                        </button>
                        <button (click)="changeResponsability(element)"
                                mat-menu-item>
                            Asignar responsable
                        </button>
                        <button (click)="changeSubStatus(element)"
                                mat-menu-item>
                            Cambiar sub estado
                        </button>
                        <button mat-menu-item>
                            Ver informacion
                        </button>
                        <button mat-menu-item>
                            Generar ficha postulante
                        </button>
                        <button mat-menu-item>
                            Ver ficha postulante
                        </button>
                        <button mat-menu-item>
                            Cancelar proceso de admision
                        </button>
                    </mat-menu>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
</article>
