<div class="flex flex-col w-full gap-4">
    <h2 mat-dialog-title>Asignar/Cambiar responsable</h2>
    <div mat-dialog-content [formGroup]="formActions">
        <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-full" appearance="fill">
            <mat-label>Responsable de la postulación</mat-label>
            <mat-select formControlName="assigned" placeholder="Estado de la oferta">
                <mat-option [value]="null">----</mat-option>
                <ng-container *ngFor="let option of employees$ | async">
                    <mat-option [value]="option.id">{{ option.name }}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error *ngIf="formActions.get('assigned').hasError('required')">
                Este campo es requerido
            </mat-error>
        </mat-form-field>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <button mat-stroked-button color="primary" (click)="updateAssigned()">Guardar cambios</button>
        <button mat-stroked-button mat-dialog-close cdkFocusInitial color="warn">Cancelar</button>
    </div>
</div>
